@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --background-dark: #202020;
    --background-semidark: #383c41;
    --backgorund-semilight: #c2c2c2;
    --backgorund-light: #fff;
    --logo--color: #1FD6FF;
    --logo--color2: #1F16FF;
}

* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 25px;
    background-color: var(--background-dark);
    color: var(--backgorund-semilight);
    font-family: 'Ubuntu';
}

.login {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 70px 30px 44px;
    border-radius: 10px;
    background-color: var(--background-semidark);
    border: 1px solid var(--logo--color);
    text-align: center;
    width: 50%;
}

.login > img {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login > h2 {
    font-size: 32px;
    margin: 0 0 25px;
}

.login > h3{
    color: rgba(232, 229, 229, 0.55);
    margin: 0 0 7px;
    font-weight: 700;
    font-size: 16px;
}

.form-login {
    display: grid;
    gap: 30px;
    place-items: center;
    width: 100%;
    margin: 0;
}

.form-login > input, .form-login > button {
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
}

.form-login > input {
    width: 80%;
    background: transparent;
    border: 2px solid transparent;
    border-bottom: 1ps solid var(--logo--color2);
    font-size: 18px;
    padding: 0;
    text-align: center;
    transition: all 0.3;
}

.form-login > input:hover {
    border-bottom: 2px solid var(--logo--color);
}

.form-login > input:focus {
    border-bottom: 2px solid var(--logo--color);
}

.form-login > button {
    cursor: pointer;
    width: 80%;
    height: 45px;
    background-color: var(--logo--color);
    color: var(--backgorund-light);
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all 0,3;
}

.form-login > button:hover {
    background-color: var(--logo--color2);
}

.form-login > a {
    color: var(--logo--color);
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    transition: all 0.3;
    padding-bottom: 20px;
    text-align: center;
}

.form-login > a:hover {
    color: var(--backgorund-semilight);
}

@media (width >= 500px) {
    .login {
        padding: 0;
    }
}

@media (width >=1200px) {
    .login {
        width: 25%;
    }
}