@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --background-dark: #202020;
    --background-semidark: #383c41;
    --backgorund-semilight: #c2c2c2;
    --backgorund-light: #fff;
    --logo--color: #1FD6FF;
    --logo--color2: #1F16FF;
}