@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Colores del tema principal */
:root{
    --background-dark: #202020;
    --background-semidark: #383c41;
    --backgorund-semilight: #c2c2c2;
    --backgorund-light: #fff;
    --logo--color: #1FD6FF;
    --logo--color2: #1F16FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Nunito', sans-serif;
    color: var(--backgorund-semilight);
    background-color: var(--background-dark);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--logo--color);
}

a:hover {
    text-decoration: none;
    color: var(--logo--color2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', 'Roboto', 'Poppins', sans-serif;
}